# Tutorial on Split-Apply-Combine using groupby

First, we create an example dataframe

In [15]:
import pandas as pd

df = pd.DataFrame({'X' : ['B', 'B', 'A', 'A'], 'Y' : [1, 2, 3, 4]})

Then, we can group by X and sum on the different X levels:

In [16]:
df.groupby(['X']).sum()

   Y
X
A  7
B  3

We can also do other operations for each group:

In [17]:
df.groupby(['X']).mean() #average

     Y
X
A  3.5
B  1.5

In [18]:
df.groupby(['X']).size() #number of observations

X
A    2
B    2
dtype: int64

## Multiple columns in a dataframe

Let's create another dataframe having more columns:

In [ ]:
df = pd.DataFrame({'name' : ['peter', 'henry', 'john', 'mark'], 'Y' : [1, 2, 3, 4]})